@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}

.glow-border {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), inset 0 0 10px
    rgba(255, 255, 255, 0.5);
}

.font-orbitron {
  font-family: var(--font-orbitron), sans-serif;
}

.font-share-tech-mono {
  font-family: var(--font-share-tech-mono), monospace;
}

